.legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-color: var(--background-color-card);

  width: 100%;
  margin: 0 auto;
  padding: 24px 12px;

  border-radius: 4px;
  gap: 24px;

  .legend-item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h4 {
      text-align: center;
    }

    .legend-images {
      display: flex;
      align-items: center;
      justify-content: center;

      gap: 12px;

      .legend-image {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      img {
        width: 85px;
      }
    }
  }
}

@media (min-width: 1300px) {
  .legend {
    flex-direction: row;
  }

  .legend .legend-item .legend-images img {
    width: 50px;
  }
}

@media (min-width: 1385px) {
  .legend .legend-item .legend-images img {
    width: 85px;
  }
}
