footer {
  background-color: var(--background-color-footer);
  padding: 64px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  align-items: center;
  width: 100%;

  .logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    figure img {
      height: 40px;
    }
  }

  .text-container {
    /* max-width: ; */

    p {
      color: white;
    }
  }
}
