<header>
  <div class="logo-container">
    <figure>
      <img src="../../../assets/images/logo/logo.svg" alt="Logo smartfit" />
    </figure>
  </div>

  <div class="container">
    <div class="text-container">
      <div class="header-title">
        <h1>REABERTURA<br>SMARTFIT</h1>
        <span class="bottom-bar"></span>
      </div>
      <p>
        O horário de funcionamento das nossas unidades está seguindo os decretos
        de cada município. Por isso, confira aqui se a sua unidade está aberta e
        as medidas de segurança que estamos seguindo.
      </p>
    </div>
  </div>
</header>
