<div class="container">
    <form [formGroup]="formGroup" class="form-group">
      <div class="form-icon"><figure><img src="../../../assets/images/icons/icon-hour.png" alt=""></figure>Horário</div>
      <h3>Qual período quer treinar?</h3>

      @for (item of workoutPeriod; track item) {
        <div class="radio-wrapper">
          <input type="radio" name="workoutPeriod" [value]="item.key" formControlName="workoutPeriod">
          <label [for]="item.key">{{ item.key }}</label>
          <span>{{ item.value }}</span>
        </div>
      }

      <div class="checkbox-wrapper">
        <div class="checkbox">
          <input type="checkbox" name="showClosedUnits" formControlName="showClosedUnits">
          <label for="showClosedUnits">Exibir unidades fechadas</label>
        </div>
        <span>Resultados encontrados: <strong class="result">{{ results.length }}</strong></span>
      </div>

      <div class="btns-wrapper">
        <button class="button button-primary" (click)="onSubmit()">Encontrar unidade</button>
        <button class="button button-secondary" (click)="formGroup.reset()">Limpar</button>
      </div>
    </form>
</div>
