<div class="card">
  <span [ngClass]="{ opened: unit.opened }">
    {{ unit.opened ? "Aberto" : "Fechado" }}
  </span>
  <h3>{{ unit.title }}</h3>
  <ng-container *ngIf="unit.content; else noAddress">
    <p [innerHTML]="sanitizedContent"></p>
  </ng-container>
  <ng-template #noAddress>
    <p>Endereço não informado ...</p>
  </ng-template>
  <div class="divider"></div>
  <ul>
    <div class="icons-box">
      <img
        *ngIf="unit.mask"
        [title]="unit.mask ? 'Obrigatório' : 'Não obrigatório'"
        [src]="'../../../../assets/images/icons/' + unit.mask + '-mask.png'"
      />
      <img
        *ngIf="unit.towel"
        [title]="unit.towel ? 'Obrigatório' : 'Não obrigatório'"
        [src]="'../../../../assets/images/icons/' + unit.towel + '-towel.png'"
      />
      <img
        *ngIf="unit.fountain"
        [title]="unit.towel ? 'Obrigatório' : 'Não obrigatório'"
        [src]="
          '../../../../assets/images/icons/' + unit.fountain + '-fountain.png'
        "
      />
      <img
        *ngIf="unit.locker_room"
        [title]="unit.towel ? 'Obrigatório' : 'Não obrigatório'"
        [src]="
          '../../../../assets/images/icons/' +
          unit.locker_room +
          '-lockerroom.png'
        "
      />
    </div>
  </ul>
  <ul>
    @for (schedule of unit.schedules; track schedule) {
    <div class="info-box">
      <b>{{ schedule.weekdays }}</b>
      {{ schedule.hour }}
    </div>
    }
  </ul>
</div>
